* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrap {
    width: 100%;
    height: 100%;
    .header {
        width: 100%;
        height: 40px;
        background: gray;
        display: flex;
        span {
            width: 20%;
            height: 40px;
            line-height: 40px;
            text-align: center;
            margin-left: 60px;
        }
    }
    .main {
        width: 100%;
        height: 100%;
        background: #DFCCAA;
        h1 {
            width: 100%;
            height: 10px;
            padding-top: 130px;
        }
        img {
            width: 100%;
            padding-top: 100px;
        }
    }
    .footer {
        width: 100%;
        height: 40px;
        background: gray;
        position: fixed;
        bottom: 0;
        ul {
            width: 100%;
            height: 40px;
            display: flex;
            li {
                width: 20%;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
        }
    }
}